---
layout: index
permalink: /
---

{% assign site_author = site.author.name | default: site.author | default: site.title | default: site.name %}
{% if site_author %}
  {% assign site_author = site_author | smartify | strip_html | strip_newlines | escape_once %}
{% endif %}

{% assign site_author_bio = site.author.bio | default: site.description %}
{% if site_author_bio %}
  {% assign site_author_bio = site_author_bio | smartify | strip_html | strip_newlines | truncate: 160 | escape_once %}
{% endif %}

{% assign site_author_avatar = site.author.avatar | default: site.logo.path | default: site.logo %}
{% if site_author_avatar %}
  {% assign site_author_avatar = site_author_avatar | escape %}
{% endif %}

<main class="hero-profile is-loading" role="main" itemscope itemtype="https://schema.org/Person">

  <section class="inner-wrapper">

      <span class="hero-avatar-wrapper">
        <a itemprop="url" href="/">
          <img class="hero-avatar" itemprop="image" src="{{ site_author_avatar }}" alt="{{ site_author }}">
        </a>
      </span>

      <h1 class="hero-title" itemprop="name">{{ site_author }}</h1>

      <p class="hero-description" itemprop="description">{{ site_author_bio }}</p>

      <ul class="hero-social">
        {% if site.author.instagram %}<li><a itemprop="sameAs" rel="me" href="//instagram.com/{{ site.author.instagram }}" class="fa fa-instagram"><span class="label">Instagram</span></a></li>{% endif %}
        {% if site.author.twitter %}<li><a itemprop="sameAs" rel="me" href="//twitter.com/{{ site.author.twitter }}" class="fa fa-twitter"><span class="label">Twitter</span></a></li>{% endif %}
        {% if site.author.facebook %}<li><a itemprop="sameAs" rel="me" href="//facebook.com/{{ site.author.facebook }}" class="fa fa-facebook"><span class="label">Facebook</span></a></li>{% endif %}
      </ul>

  </section>

  {% if site.author %}
    <span class="hide" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
      {% if site.author.street %}<meta itemprop="streetAddress" content="{{ site.author.street }}">{% endif %}
      {% if site.author.locality %}<meta itemprop="addressLocality" content="{{ site.author.locality }}">{% endif %}
      {% if site.author.region %}<meta itemprop="addressRegion" content="{{ site.author.region }}">{% endif %}
      {% if site.author.country %}<meta itemprop="addressCountry" content="{{ site.author.country }}">{% endif %}
      {% if site.author.postcode %}<meta itemprop="postalCode" content="{{ site.author.postcode }}">{% endif %}
    </span><!-- /itemscope itemtype PostalAddress -->
  {% endif %}

</main>
