.site-footer-legal {
  font-size: 0.999rem; // .6rem

  @media (min-width: 480px) {
    font-size: 1.111rem;
  }

  @media (min-width: 768px) {
    font-size: 1.333rem;
  }
}

.footer-x {
  margin: 0 1px;
  font-size: 0.9em;
}
