// Variables

$primary:                        #42dca3 !default;

// stylelint-disable value-keyword-case
$font-family-base:               system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-sans-serif:         "Jost", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:              Georgia, Cambria, "Times New Roman", Times, serif !default;
$font-family-monospace:          SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
// stylelint-enable value-keyword-case

// $font-size-root effects the value of `rem`, which is used for as well font sizes, paddings and margins
// $font-size-base effects the font size of the body text
$font-size-root:              null !default;
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-smooth-scroll:        true !default;

// Social buttons
//
// Colors (http://brandcolors.net/), backgrounds, and more.

$social-disqus-color:            #2e9fff !default;
$social-envelope-color:          #787878 !default;
$social-facebook-color:          #3b5998 !default;
$social-flickr-color:            #ff0084 !default;
$social-foursquare-color:        #0cbadf !default; // has multi colors
$social-google-plus-color:       #dd4b39 !default;
$social-instagram-color:         #833ab4 !default; // has multi colors
$social-linkedin-color:          #0077b5 !default; // has multi colors
$social-pinterest-color:         #bd081c !default;
$social-rss-color:               #fa9b39 !default;
$social-telegram-color:          #08c !default;
$social-tumblr-color:            #35465c !default;
$social-twitter-color:           #111 !default; // #55acee !default;
$social-vimeo-color:             #1ab7ea !default; // has multi colors
$social-youtube-color:           #cd201f !default;
$social-github-color:            #333 !default; // has multi colors
$social-tiktok-color:            #333 !default; // has multi colors
