<head>

  {% include metadata.html %}

  <!-- Basic page needs -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{{ site_title }}</title>
  <meta name="description" content="{{ page_description }}">
  <meta name="author" content="{{ page_author }}">

  <!-- Open Graph tags -->
  <meta property="og:title" content="{% if page_title %}{{ page_title }}{% else %}{{ site_title }}{% endif %}">
  <meta property="og:site_title" content="{{ site_title }}">
  <meta property="og:url" content="{{ page_url }}">
  <meta property="og:description" content="{{ page_description }}">
  <meta property="og:image" content="{{ site_logo }}">
  {% if site.facebook.admins %}
  <meta property="fb:admins" content="{{ site.facebook.admins }}">
  {% endif %}
  <meta name="twitter:card" content="summary">
  {% if site.author.twitter %}
  <meta name="twitter:site" content="@{{ site.author.twitter | remove:'@' }}">
  {% endif %}

  <!-- SEO -->
  {% if page.robots %}
    <meta name="robots" content="{{ page.robots }}">
  {% endif %}

  <link rel="canonical" href="{{ page_url }}">

  <!-- Critical CSS -->
  {% include styles.html %}

</head>
