<head>

    <!-- Basic page needs -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ site.name }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.name }}">

    <!-- SEO -->
    <link rel="canonical" href="{{ page.url | replace:'/index.html','/' | prepend: site.url }}">

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico?v={{ site.github.build_revision }}">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/styles.css?v={{ site.github.build_revision }}">

</head>
