<head>

  <!-- Basic page needs -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <!-- Critical CSS -->
  {% include styles.html %}

  {% if page.permalink == "/" %}
    {%- assign site_title = site.title | default: site.name -%}
    {%- if site_title -%}
      {%- assign site_title = site_title | smartify | strip_html | normalize_whitespace | escape_once -%}
    {%- endif -%}
    {%- if site.tagline -%}
      {%- assign site_tagline = site.tagline | smartify | strip_html | normalize_whitespace | escape_once -%}
    {%- endif -%}
    <title>{{ site_title }} · {{ site_tagline }}</title>
    {% seo title=false %}
  {% else %}
    {% seo %}
  {% endif %}

  {% include about_json_ld.html %}

  {% if page.robots %}
    <!-- robotstxt.org  -->
    <meta name="robots" content="{{ page.robots }}" />
  {% endif %}

  <!-- humanstxt.org -->
  <link type="text/plain" rel="author" href="{{ 'humans.txt' | absolute_url }}" />

</head>
