// Variables

$primary:                        #42DCA3 !default;
$theme-font-family-base:         -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif !default;
$theme-font-family-sans-serif:   "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$theme-font-family-serif:        "Lora", Georgia, "Times New Roman", Times, serif !default;
$theme-font-family-monospace:    Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
