//
// Dark theme
//

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.44),
        rgba(0, 0, 0, 0.44)
      ),
      url("/assets/img/hero-dark-20210407.jpg");

    &::before {
      background-color: #333;
    }
  }

  img {
    opacity: 0.75;
    transition: opacity 0.5s ease-in-out;
  }

  img:hover {
    opacity: 1;
  }

  .hero-profile {
    background-color: rgba(#222, 0.828); //.929
  }

  .hero-avatar-wrapper {
    .hero-avatar {
      display: inline-block;
      background: #000;
      border-radius: 100%;
    }

    &::before {
      background: rgba(255, 255, 255, 0.44);
    }
  }

  .hero-title {
    color: rgba(255, 255, 255, 0.8);
  }

  .hero-description {
    color: rgba(255, 255, 255, 0.6);
  }

  .error-page-container {
    background-color: #222;
  }

  .error-page-message {
    color: rgba(255, 255, 255, 0.8);
  }

  .error-page-message--small {
    color: rgba(255, 255, 255, 0.44);

    a {
      color: rgba(255, 255, 255, 0.44);

      &:hover,
      &:active {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
} // @media (prefers-color-scheme: dark) {---}
