//
// 404 error page content
//

.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  // background-color: #fafafa;
}

.error-page-container {
  padding: 2em;
  background-color: #fafafa;
  border-radius: 4px;
  transform: translateZ(0);
  animation: fade-in 2s;
}

.error-page-message {
  font-family: $font-family-sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: -0.04em;

  @media (min-width: 768px) {
    font-size: 32px;
  }
}

.error-page-message--lead {
  margin-bottom: 10px;
  font-size: 32px;
  transform: rotate(-1deg);

  @media (min-width: 768px) {
    font-size: 60px;
  }
}

.error-page-message--small {
  margin-top: 10px;
  // font-family: $font-family-sans-serif;
  font-size: 18px; // 16px
  // font-style: normal;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.44);
  letter-spacing: -0.02em;

  @media (min-width: 768px) {
    font-size: 20px;
  }

  a {
    color: rgba(0, 0, 0, 0.44);
    text-decoration: underline;

    &:hover,
    &:active {
      color: rgba(0, 0, 0, 0.6);
      text-decoration: underline;
    }
  }
} // .error-page-message--small {---}
