// stylelint-disable font-family-name-quotes, declaration-colon-newline-after, value-list-comma-space-after, value-list-comma-newline-after

// Browser support
// WOFF2: Chrome 26+, Opera 23+, Firefox 39+
// WOFF: Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+

/* jost-300normal - latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url("/assets/fonts/jost-latin-300.woff2") format("woff2"),
    url("/assets/fonts/jost-latin-300.woff") format("woff");
}

/* jost-400normal - latin */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/assets/fonts/jost-latin-400.woff2") format("woff2"),
    url("/assets/fonts/jost-latin-400.woff") format("woff");
}

// stylelint-enable font-family-name-quotes, declaration-colon-newline-after, value-list-comma-space-after, value-list-comma-newline-after
