---
layout: compress
---

<!doctype html>
<html lang="en" class="html">

  {% include head.html %}

  <body class="body is-loading">

    <div class="wrapper">

      {{ content }}

      <footer class="site-footer is-loading">

        <ul class="site-footer-legal">
          <li><a href="https://milanaryal.com.np/"><i class="fa fa-medium"></i><span class="hide">Milan Aryal</span></a></li>
        </ul>

        <!-- {% assign site_title = site.title | default: site.name %}
        {% if site_title %}
          {% assign site_name = site_name | smartify | strip_html | strip_newlines | escape_once %}
        {% endif %}

        <ul class="site-footer-legal">
          <li>&copy; {{ site_title }}</li>
          <li>Design: <a href="https://milanaryal.com.np/">Milan Aryal</a></li>
        </ul> -->

      </footer>

    </div><!-- /.wrapper -->

    {% include scripts.html %}

  </body>

</html>
