// jost-regular - latin
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: local(""),
       url("/assets/fonts/jost-v1-latin-regular.woff2") format("woff2"), // Chrome 26+, Opera 23+, Firefox 39+
       url("/assets/fonts/jost-v1-latin-regular.woff") format("woff"); // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
}

// jost-700 - latin
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  src: local(""),
       url("/assets/fonts/jost-v1-latin-700.woff2") format("woff2"), // Chrome 26+, Opera 23+, Firefox 39+
       url("/assets/fonts/jost-v1-latin-700.woff") format("woff"); // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
}

// jost-300italic - latin
@font-face {
  font-family: "Jost";
  font-style: italic;
  font-weight: 300;
  src: local(""),
       url("/assets/fonts/jost-v1-latin-300italic.woff2") format("woff2"), // Chrome 26+, Opera 23+, Firefox 39+
       url("/assets/fonts/jost-v1-latin-300italic.woff") format("woff"); // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
}

// jost-700italic - latin
@font-face {
  font-family: "Jost";
  font-style: italic;
  font-weight: 700;
  src: local(""),
       url("/assets/fonts/jost-v1-latin-700italic.woff2") format("woff2"), // Chrome 26+, Opera 23+, Firefox 39+
       url("/assets/fonts/jost-v1-latin-700italic.woff") format("woff"); // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
}
