//
// SVG icons better alignment
// https://blog.prototypr.io/align-svg-icons-to-text-and-say-goodbye-to-font-icons-d44b3d7b26b4
// https://fontawesome.com/how-to-use/on-the-web/advanced/svg-symbols#issues
//

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
  fill: currentColor;
}
